ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #1961AD;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1961AD;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

@font-face {
    font-family: timeburnerbold;
    src: url("/fonts/timeburnerbold.ttf");
}

ul.timeline > li > a, ul.timeline > li > p {
    margin-left: 40px;
}

.search-container {
    display: flex;
}

.search {
    width: 30%;
}

.search-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.search-text div:nth-child(1) {
    font-family: timeburner;
    text-transform: uppercase;
}

.search-text div:nth-child(2) {
    font-family: timeburner;
    text-transform: uppercase;
    font-size: 30px;
    color: #1961AD;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}